.movie__list {
    padding: 0 3rem 3rem 3rem;
}

.list__title {
font-size: 1.75rem;
margin:  2.5rem;
}

.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}

.search__container {
    display: flex;
    justify-content: center;
    margin: 5.5rem;
    align-items: center;
}

button {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: #212529;
  }
button:hover, {
    background: #fff;
    color: #212529
  }

.search {
    margin: 0 1rem;
    min-width: 500px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: unset;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #212529;
    background: #212529;
  }

  /* Estilos para tablet */
@media (max-width: 768px) {
  .movie__list {
      padding: 0 1.5rem 1.5rem 1.5rem;
  }

  .list__title {
      font-size: 1.5rem;
      margin: 1.5rem;
  }

  .search__container {
      margin: 1.5rem;
  }

  button,
  .search {
      min-width: 100px;
      height: 35px;
      border-radius: 15px; /* Ajustar a 15px para ambos botones */
  }
}

/* Estilos para celular */
@media (max-width: 480px) {
  .movie__list {
      padding: 0 1rem 1rem 1rem;
  }

  .list__title {
      font-size: 1.25rem;
      margin: 1rem;
  }

  .search__container {
      margin: 1rem;
  }

  button,
  .search {
      min-width: 100px;
      height: 20px;
      font-size: 0.9rem;
      border-radius: 10px; /* Ajustar a 10px para ambos botones */
  }
}