.header {
    align-items: center;
    display: flex;
    justify-content:space-between;
    position: fixed;
    z-index: 100;
    background-color: black;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .header {
        margin: 0 1rem;
        padding: .5rem 0;
    }

    a > span {
        font-size: 1rem;
    }

    .header__icon {
        width: 60px;
    }

    .user__avatar {
        font-size: 1.5rem;
    }
}

/* Estilos para celular */
@media (max-width: 480px) {
    .header {
        margin: 0 .5rem;
        padding: .3rem 0;
    }

    a > span {
        margin: 0 15px;
        font-size: 0.8rem;
    }

    .header__icon {
        width: 40px;
    }

    .user__avatar {
        font-size: 1.2rem;
    }
}